.container.gallery {
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 30px;
    display:grid;
    margin-top: 50px;
    background-color: rgba(247, 242, 218, 0.562);
    /* background-color: var(--secondary-colors); */
    font-size: 35px;
    font-family: var(--header-font);
    text-align: center;
    font-weight: 500;
    line-height: 40px;
    color: var(--main-text-color);
}